{{ block "index" . }}
<!-- <!DOCTYPE html> -->
<!-- <html lang="en"> -->
<!-- <head> -->
<!-- 	<meta charset="UTF-8"> -->
<!-- 	<meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
<!-- 	<title>{{ .Title }}</title> -->
<!-- 	<script src="https://unpkg.com/htmx.org@2.0.3"></script> -->
<!-- 	<script src="https://unpkg.com/htmx-ext-ws@2.0.1/ws.js"></script> -->
<!-- </head> -->
<!-- <body> -->
<!-- 	<div hx-ext="ws" ws-connect="/ws/file.txt"> -->
<!-- 		<div id="notifications"></div> -->
<!-- 		<div id="notifications" hx-swap-oob="beforeend"> -->
<!-- 			New message received -->
<!-- 		</div> -->
<!-- 		<div id="chat_room" hx-swap-oob="morphdom"> -->
<!-- 		</div> -->
<!-- 		<form id="form" ws-send> -->
<!-- 			<input name="chat_message"> -->
<!-- 		</form> -->
<!-- 	</div> -->
<!-- </body> -->
<!-- </html> -->
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>WebSocket</title>
</head>

<body>
  <p id="output"></p>

  <script>
	var uri = "ws://localhost:8080/ws/file.txt"

    ws = new WebSocket(uri)

    ws.onopen = function() {
      console.log('Connected')
    }

    ws.onmessage = function(evt) {
      var out = document.getElementById('output');
      out.innerHTML += evt.data + '<br>';
    }

    setInterval(function() {
      ws.send('Hello, Server!');
    }, 1000);
  </script>
</body>

</html>
{{ end }}
